* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    font-family: monospace;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.nav-menu a {
    text-decoration: none;
    color: #2b2b2b;
}

.nav-menu a:hover {
    text-decoration: none;
    color: #2b2bb2;
}

li {
    list-style: none;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 198, 255);
    padding-top: 25px;
    padding-bottom: 25px;
    width: 200px;
    height: 100vh;
    align-content: space-between;
    align-items: center;
}

.logo-image {
    width: 100px;
    height: auto;
}

.dimension-cont {
    height: 33%;
}

.dimension-cont:last-child {
    padding-top: 150px;
}

.profile-image {
    width: 150px;
    height: auto;
}

.maincontent {
    background-color: darkgrey;
}

p {
    text-align: center;
}